@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");

@font-face {
  font-family: "RixYeoljeongdo_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  letter-spacing: -0.4px;
  font-family: "RixYeoljeongdo_Regular";
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  --header-nav-bar-height: 2rem;
  margin: 0px;
  padding: 0px;
  font-family: "RixYeoljeongdo_Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
  overflow: hidden;
}

.textBorder {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9921) calc(var(--stroke-width) * 0.1253) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9686) calc(var(--stroke-width) * 0.2487) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9298) calc(var(--stroke-width) * 0.3681) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.8763) calc(var(--stroke-width) * 0.4818) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.809) calc(var(--stroke-width) * 0.5878) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.729) calc(var(--stroke-width) * 0.6845) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.6374) calc(var(--stroke-width) * 0.7705) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.5358) calc(var(--stroke-width) * 0.8443) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.4258) calc(var(--stroke-width) * 0.9048) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.309) calc(var(--stroke-width) * 0.9511) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.1874) calc(var(--stroke-width) * 0.9823) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.0628) calc(var(--stroke-width) * 0.998) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.0628) calc(var(--stroke-width) * 0.998) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.1874) calc(var(--stroke-width) * 0.9823) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.309) calc(var(--stroke-width) * 0.9511) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.4258) calc(var(--stroke-width) * 0.9048) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.5358) calc(var(--stroke-width) * 0.8443) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.6374) calc(var(--stroke-width) * 0.7705) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.729) calc(var(--stroke-width) * 0.6845) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.809) calc(var(--stroke-width) * 0.5878) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.8763) calc(var(--stroke-width) * 0.4818) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9298) calc(var(--stroke-width) * 0.3681) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9686) calc(var(--stroke-width) * 0.2487) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9921) calc(var(--stroke-width) * 0.1253) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9921) calc(var(--stroke-width) * -0.1253) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9686) calc(var(--stroke-width) * -0.2487) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9298) calc(var(--stroke-width) * -0.3681) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.8763) calc(var(--stroke-width) * -0.4818) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.809) calc(var(--stroke-width) * -0.5878) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.729) calc(var(--stroke-width) * -0.6845) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.6374) calc(var(--stroke-width) * -0.7705) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.5358) calc(var(--stroke-width) * -0.8443) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.4258) calc(var(--stroke-width) * -0.9048) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.309) calc(var(--stroke-width) * -0.9511) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.1874) calc(var(--stroke-width) * -0.9823) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.0628) calc(var(--stroke-width) * -0.998) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.0628) calc(var(--stroke-width) * -0.998) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.1874) calc(var(--stroke-width) * -0.9823) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.309) calc(var(--stroke-width) * -0.9511) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.4258) calc(var(--stroke-width) * -0.9048) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.5358) calc(var(--stroke-width) * -0.8443) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.6374) calc(var(--stroke-width) * -0.7705) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.729) calc(var(--stroke-width) * -0.6845) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.809) calc(var(--stroke-width) * -0.5878) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.8763) calc(var(--stroke-width) * -0.4818) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9298) calc(var(--stroke-width) * -0.3681) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9686) calc(var(--stroke-width) * -0.2487) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9921) calc(var(--stroke-width) * -0.1253) 0
      var(--stroke-color);
}
